# =====================================================
# PYTHON
# =====================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/

# =====================================================
# JUPYTER NOTEBOOK
# =====================================================
.ipynb_checkpoints/
*.ipynb_autosave

# =====================================================
# LOGS / CACHE
# =====================================================
logs/
*.log
.cache/

# =====================================================
# SPARK TEMP FILES
# =====================================================
spark-warehouse/
.metastore/
derby.log

# =====================================================
# DATA (KHÔNG COMMIT DỮ LIỆU THẬT)
# Giữ cấu trúc nhưng không push file lớn lên git
# =====================================================
data/raw/**
data/datalake/**
data/warehouse/**
data/neo4j/**
!data/.keep            # Cho phép giữ thư mục rỗng

# Nếu bạn có file nhỏ demo muốn giữ -> bê vào data/sample

# =====================================================
# DOCKER
# =====================================================
*.pid
*.tar
**/Dockerfile.backup

# =====================================================
# OS / EDITOR TRASH
# =====================================================
.DS_Store
Thumbs.db
.idea/
.vscode/