# =====================================================
# PYTHON
# =====================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/

# =====================================================
# JUPYTER NOTEBOOK
# =====================================================
.ipynb_checkpoints/
*.ipynb_autosave

# =====================================================
# LOGS / CACHE
# =====================================================
logs/
*.log
.cache/

# =====================================================
# SPARK TEMP FILES
# =====================================================
spark-warehouse/
.metastore/
derby.log

# =====================================================
# DATA (KHÔNG COMMIT DỮ LIỆU THẬT)
# Giữ cấu trúc thư mục bằng .gitkeep
# =====================================================
data/raw/*
data/datalake/*
data/warehouse/*
data/neo4j/*

# CHO PHÉP ĐẨY FILE .gitkeep
!data/raw/.gitkeep
!data/datalake/.gitkeep
!data/warehouse/.gitkeep
!data/neo4j/.gitkeep

# =====================================================
# DOCKER
# =====================================================
*.pid
*.tar
**/Dockerfile.backup

# =====================================================
# OS / EDITOR TRASH
# =====================================================
.DS_Store
Thumbs.db
.idea/
.vscode/